.tab {
    width: 140%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);    
}

.tab__list {
    width: 60%;
    height: 40px;
    margin : 10px auto;

}

.tab__content {
    width: 100%;
    height: 100%;
}

.tab__card {
    width: 100%;
    height: 100%;
}

.tab__card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
